/* ! responsive for mobile */

@media only screen and (max-width: 576px) {
  .container {
    padding: 0 24px;
  }
  /* ?navbar section */
  nav {
    padding: 15px 24px !important;
  }
  nav > ul {
    display: none;
  }
  .for_mobile {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  /* ! banner section */
  .banner {
    flex-direction: column;
  }

  .star_position {
    width: 52px;
    height: 50px;
    top: 126px;
    left: 8px;
  }
  .circle_position {
    right: 39px;
    top: 272px;
    left: unset;
  }
  .circle_position img {
    width: 16px;
    height: 16px;
  }

  .banner_content {
    padding-left: 0;
  }

  .banner_title {
    max-width: 271px;
    text-align: center;
    font-size: 44px;
    line-height: 135%;
    margin: 0 auto;
  }

  .banner_title span {
    padding: 5px 14px 6px 11px;
  }

  .banner_desc {
    max-width: 381px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin: 19px auto 0;
  }

  .banner_btn {
    display: block;
    margin: 34px auto 32px;
    font-size: 15px;
    gap: 0;
  }

  .banner_btn i {
    margin-left: 4px;
  }

  .stat_container h2 {
    font-size: 28px;
  }

  .stat_container {
    justify-content: center;
    margin-bottom: 32px;
  }

  .stat_container p {
    font-size: 13px;
  }

  /* !  list container section */
  .list_container {
    grid-template-columns: 1fr;
    gap: 44px;
  }

  .list_container_left {
    gap: 25px;
    justify-content: center;
  }

  .list_container_left .img {
    width: 230px;
    height: 100px;
  }
  .list_container_left h2 {
    font-size: 28px;
  }
  .list_container_left .img img {
    width: 180px;
    height: 112px;
    top: -26px;
    left: 30px;
  }

  .list_container_right {
    flex-direction: column;
    gap: 80px;
  }
  .list_container_right > p {
    font-size: 15px;
    text-align: center;
    max-width: unset;
  }
  .list_container_right .img p {
    font-size: 15px;
  }

  /* ! health section */

  .health {
    flex-direction: column;
    /* padding: 0 24px; */
  }

  .health_content {
    margin-top: 62px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .health_title {
    max-width: 295px;
    color: #d1c0f1;
    text-align: center;
    font-family: Lora;
    font-size: 32px;
    font-weight: 400;
  }
  .health_desc {
    margin-top: 24px;
    max-width: 331px;
    font-size: 15px;
    text-align: center;
  }
  .health_section_btn {
    font-size: 15px;
  }
  .health_rate_title {
    font-size: 13px;
  }
  .health_rate_container {
    top: 35px;
    left: -15px;
  }
  .health_rate_container .img {
    width: 36px;
    height: 36px;
    padding: 6px;
  }
  .health_rate_container .img img {
    width: 24px;
    height: 24px;
  }

  .health_rate {
    font-size: 12px;
  }

  .free_course {
    right: 0;
  }
  .free_course p:first-child {
    font-size: 12px;
  }
  .free_course p:last-child {
    font-size: 13px;
  }
}
