@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #14092a;
}

/* ! common styles */

.container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
}

/* ! header section styles here */

nav {
  padding: 28px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: Lora;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

nav > ul {
  display: flex;
  align-items: center;
  gap: 72px;
}

nav li {
  list-style: none;
}

nav img {
  cursor: pointer;
}
nav a {
  text-decoration: none;
  color: #d1c0f1;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  transition: all 1s linear;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
}

.gradient_text {
  background: linear-gradient(73deg, #ff52af 11.6%, #9f53ff 83.86%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav a:hover {
  background: linear-gradient(73deg, #ff52af 11.6%, #9f53ff 83.86%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.for_mobile {
  display: none;
}

/* ! banner section */

.banner {
  margin-top: 34px;
  display: flex;
  align-items: center;
}

.banner_content {
  flex: 7;
  position: relative;
  padding-left: 1.5rem;
}

.star_position {
  position: absolute;
  right: 0;
  top: 150px;
}

.circle_position {
  position: absolute;
  left: 0;
  top: 360px;
}

.banner_img {
  flex: 6;
}
.banner_img img {
  width: 100%;
}

.banner_title {
  max-width: 576px;
  color: #d1c0f1;
  font-family: Lora;
  font-size: 96px;
  font-weight: 500;
  line-height: 130%;
}

.banner_title span {
  border-radius: 16px;
  background: linear-gradient(73deg, #ff52af 11.6%, #9f53ff 83.86%);
  transform: rotate(10deg);
  display: inline-block;
  padding: 2px 13px 8px;
  color: #fff;
}

.banner_desc {
  max-width: 417px;
  color: #a094b8;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}

.banner_btn {
  margin-top: 32px;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  padding: 16px 28px;
  border-radius: 64px;
  background: linear-gradient(73deg, #ff52af 11.6%, #9f53ff 83.86%);
  gap: 8px;
}

.stat_container {
  margin-top: 48px;
  display: flex;
  align-items: center;
  gap: 60px;
}

.stat_container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat_container h2 {
  color: #d1c0f1;
  font-family: Lora;
  font-size: 56px;
  font-weight: 400;
}

.stat_container p {
  color: #d1c0f1;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
}
.hide {
  display: none !important;
}
/* ! list container style */

.list_container {
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px;
  align-items: center;
}
.list_container_left {
  display: flex;
  align-items: center;
  gap: 32px;
}
.list_container_left h2 {
  color: #d1c0f1;
  font-family: Lora;
  font-size: 56px;
  font-weight: 500;
}
.list_container_left .img {
  width: 400px;
  height: 180px;
  border-radius: 200px;
  background: #372a51;
}

.list_container_left .img img {
  position: relative;
  bottom: 50px;
  left: 34px;
}

.list_container_right {
  display: flex;
  align-items: center;
  gap: 59px;
}

.list_container_right > p {
  color: #a094b8;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  max-width: 328px;
}

.list_container_right .img {
  position: relative;
}

.list_container_right img {
  position: absolute;
  right: -47px;
  top: -57px;
}

.list_container_right .img p {
  background: linear-gradient(73deg, #ff52af 11.6%, #9f53ff 83.86%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
}

/* ! health section style */
.health {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}

.health_img {
  height: 582px;
  background-image: url("../images/health-fitness.png");
  background-repeat: no-repeat;
  flex-basis: 46%;
  position: relative;
}
.health_rate_container {
  position: relative;
  top: 72px;
  left: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 12px;
  background: #372a51;
  width: fit-content;
}

.health_rate_container .img {
  width: 50px;
  height: 50px;
  background: #ffe6e5;
  border-radius: 50%;
  display: grid;
  place-items: center;
  padding: 9px;
}

.health_rate_title {
  color: #d1c0f1;
  /* text-align: center; */
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
}

.health_rate {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(73deg, #ff52af 11.6%, #9f53ff 83.86%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.free_course {
  width: fit-content;
  padding: 8px 12px;
  position: absolute;
  border-radius: 12px;
  background: #372a51;
  right: 45px;
  bottom: 30px;
}
.free_course p:first-child {
  background: linear-gradient(#ff52af 11.6%, #9f53ff 83.86%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
}

.free_course p:last-child {
  color: #d1c0f1;
  text-align: right;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
}

.health_content {
  flex-basis: 52%;
}

.health_title {
  color: #d1c0f1;
  font-family: Lora;
  font-size: 64px;
  font-weight: 400;
}

.health_desc {
  margin-top: 40px;
  color: #a094b8;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  max-width: 579px;
}

.health_section_btn {
  padding: 16px 28px;
  border-radius: 64px;
  background: linear-gradient(73deg, #ff52af 11.6%, #9f53ff 83.86%);
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  margin-top: 32px;
}
